
/* src/App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
}

header {
  background-color: rgba(47, 80, 179, 0.8);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav {
  display: flex;
  gap: 20px;
  
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
}

header a:hover {
  background: rgba(255, 255, 255, 0.2);
}

main {
  padding: 20px;
  min-height: calc(100% - 120px); /* Adjust height based on header height */
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-self: center;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

form div {
  display: flex;
  flex-direction: column;

}

form label {
  margin-bottom: 5px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.signheading {
  margin-top: 50px;
  color: white;
}
form button:hover {
  background: #0056b3;
}

p {
  text-align: center;
  margin-top: 20px;
}

.not-found {
  text-align: center;
  font-size: 24px;
}

.background {
  background: url('https://img.freepik.com/free-vector/technology-background-design_23-2148451528.jpg?t=st=1722173876~exp=1722177476~hmac=700e32f258b6baafc4cd5c3f0d0ce1409703c266198aa815364556e9c7196c2e&w=900') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.image-container img {
  width: 50%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button.get-started {
  padding: 10px 20px;
  background: yellow;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button.get-started:hover {
  background: #ffeb3b;
}
.contact-container {
  display: flex;
  justify-content: center;
}

.welcomeheading {
  margin-top: 50px;
  color: white;
  font-size: 30px;
}